@page "/"

<PageTitle>AdminApp</PageTitle>

<AdminLayout>
    @if (UserState.Users == null)
    {
        <LoadingSpinner Message="Loading users, please wait..." />
    }
    else
    {
        <div>
            <UserActions 
                OnBlock="@BlockSelectedUsers" 
                OnUnblock="@UnblockSelectedUsers" 
                OnDelete="@DeleteSelectedUsers" 
                OnLogout="@Logout"
                UserEmail="@_currentUserEmail" 
                SetFilter="@SetFilter"
                />

            @if (UserState.Users.Count == 0)
            {
                <NoUsersFound />
            }
            else 
            {
            <UserTable 
                Users="UserState.Users" 
                IsSelected="UserState.IsSelected" 
                IsLockedOut="UserState.IsLockedOut"
                LastSeen="UserState.LastSeen" 
                OnSelectAll="UserState.ToggleAllSelections" 
                OnSelectUser="UserState.ToggleUserSelection" />
            }
        </div>
    }
</AdminLayout>

<Notification 
    IsSuccess="@IsSuccess"
    IsShow="@IsNotificationShow"
/>


