@using AdminApp.Helpers
<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th scope="col"><input type="checkbox" @onclick="OnSelectAll"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Last Seen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Users)
        {
            <tr @onclick="@(() => OnSelectUser(user.Id))">
                <td><input type="checkbox" @bind="IsSelected[user.Id]"></td>
                <td class="@GetRowClass(user)">@user.UserName</td>
                <td class="@GetRowClass(user)">@user.Email</td>
                <td class="@GetRowClass(user)">
                    <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="@DateTimeTooltip(user)">
                        @DateTimeHelper.FormatDateTime(LastSeen[user.Id])
                    </span>
                    <Sparkline Data="GetUserActivity(user)" />
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    table {
        table-layout: fixed;
        width: 100%;
    }
    table th, table td {
        width: 25%;
    }
</style>
